.body {
    min-height: 100%;
    height: 100%;
}

header {
    position: relative;
    width: 100%;
    height: 120px;
    background: LightPink;
    color: #ffffff;
}

.logo {
    position: absolute;
    top: 30%; left: 80px;
    font: bold 40px "Times New Roman";
}

.homeLink {
    position: absolute;
    top: 60%;
    right: 50px;
    font: bold 40px "Times New Roman";
}

h3 {
    color: #ffffff;
}



main {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%
}

.flowerImageLink {
    width: 30%;
    display: inline-block;
    height: auto;
    margin: 1%;
}

.flowerInfo {
    color: SlateGray;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.flowerInfo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.flowerInfo div {
    position: relative;
    padding: 20px;
    text-align: left;
}

footer {
    position: relative;
    clear: both;
    width: 100%;
    height: 100px;
    margin-top: -100px;
    background: LightPink;
}

footer .copyright {
    position: absolute;
    top: 40%; right: 20px;
    font: bold 20px "Times New Roman", serif;
    font-style: italic;
    color: SlateGray;
}
